# Files and directories to exclude from Git repository
*~
*.[oa]
*.so
src/Makefile.arch
src/bin/gsfile.slave
src/bin/gsprint
src/bin/gstoeps.slave
src/bin/gstops.slave
src/bin/gstosvg.slave
src/bin/gstotgif.slave
src/bin/gsview
src/bin/gsview.slave
src/bin/ifortg
src/bin/ifortgdum
src/test/apltest
src/test/bsctest
src/test/conttest
src/test/evtest
src/test/fort*
src/test/g3dtest
src/test/gdptest
src/test/gdumtest
src/test/imagetest
src/test/pagetest
src/test/perstest
src/test/pgtest
src/test/pstest
src/test/splntest
src/test/sptest